In [ ]:
import gc, argparse, sys, os, errno
%pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style('whitegrid')
import h5py
import os
from tqdm import tqdm_notebook as tqdm
import scipy
import sklearn
from scipy.stats import pearsonr
import warnings
warnings.filterwarnings('ignore')

In [ ]:
dup_1 = pd.read_table('/home/xieyufeng/test1/02.mapping/dedup/table/pico-1_1.csv')
dup_1.columns=['read','value','chromsome','location'];
#是dup就是0，不是dup则为1
dup_1.loc[dup_1.value < 1024,'dedup'] = 1
dup_1.loc[dup_1.value == 1024,'dedup'] = 0
dup_1.loc[dup_1.value >= 3072,'dedup'] = 0
dup_1.loc[(dup_1.value > 1024) & (dup_1.value < 2048),'dedup'] = 0
dup_1.loc[(dup_1.value >= 2048) & (dup_1.value < 3072),'dedup'] = 1
dup_1['dup'] = 1.0
dup_1['location']=dup_1['location'].astype(str)
dup_1['chrom_loc']=dup_1['chromsome'].str.cat('_'+dup_1['location'])
dup_1.index = dup_1['chrom_loc']
#statsdata_1= pd.DataFrame(dup_1.groupby('chrom_loc')['dedup','dup'].sum())
statsdata_1= pd.DataFrame(dup_1.groupby('chrom_loc')['dedup','dup'])
statsdata_1.head()

In [15]:
statsdata_1['position'] = np.array([statsdata_1.index[i].split('_')[1] for i in range(statsdata_1.index.shape[0])])
statsdata_1['chr'] = np.array([statsdata_1.index[j].split('_')[0] for j in range(statsdata_1.index.shape[0])])

In [16]:
statsdata_1.head()

                   dedup  dup position         chr
chrom_loc
GL000008.2_103237    1.0  1.0   103237  GL000008.2
GL000008.2_10635     1.0  1.0    10635  GL000008.2
GL000008.2_1072      1.0  3.0     1072  GL000008.2
GL000008.2_107538    1.0  1.0   107538  GL000008.2
GL000008.2_1081      1.0  1.0     1081  GL000008.2

In [3]:
dup_2 = pd.read_table('/home/xieyufeng/test1/02.mapping/dedup/table/pico-2_1.csv')
dup_2.columns=['read','value','chromsome','location'];
#是dup就是0，不是dup则为1
dup_2.loc[dup_2.value < 1024,'dedup'] = 1
dup_2.loc[dup_2.value == 1024,'dedup'] = 0
dup_2.loc[dup_2.value >= 3072,'dedup'] = 0
dup_2.loc[(dup_2.value > 1024) & (dup_2.value < 2048),'dedup'] = 0
dup_2.loc[(dup_2.value >= 2048) & (dup_2.value < 3072),'dedup'] = 1
dup_2['dup'] = 1.0
dup_2['location']=dup_2['location'].astype(str)
dup_2['chrom_loc']=dup_2['chromsome'].str.cat('_'+dup_2['location'])
dup_2.index = dup_2['chrom_loc']
statsdata_2= pd.DataFrame(dup_2.groupby('chrom_loc')['dedup','dup'].sum())
statsdata_2.head()

                   dedup  dup
chrom_loc
GL000008.2_152807    1.0  2.0
GL000008.2_159378    1.0  1.0
GL000008.2_159380    1.0  1.0
GL000008.2_173473    1.0  1.0
GL000008.2_173474    1.0  1.0

In [17]:
statsdata_2['position'] = np.array([statsdata_2.index[i].split('_')[1] for i in range(statsdata_2.index.shape[0])])
statsdata_2['chr'] = np.array([statsdata_2.index[j].split('_')[0] for j in range(statsdata_2.index.shape[0])])

In [5]:
chrom_loc_overlap = np.intersect1d(statsdata_1.index,statsdata_2.index)

In [6]:
statsdata_1_overlap = statsdata_1.loc[chrom_loc_overlap]

In [7]:
statsdata_1_overlap.shape[0]

471353

In [6]:
chrom_loc_overlap.shape[0]

471353

In [ ]:
[1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 20, 21, 22, 3, 4, 5, 6, 7, 8, 9, MT, X, Y, KI270728.1, KI270727.1, 
KI270442.1, KI270729.1, GL000225.1, KI270743.1, GL000008.2, GL000009.2, KI270747.1, KI270722.1, GL000194.1, KI270742.1, 
GL000205.2, GL000195.1, KI270736.1, KI270733.1, GL000224.1, GL000219.1, KI270719.1, GL000216.2, KI270712.1, KI270706.1, 
KI270725.1, KI270744.1, KI270734.1, GL000213.1, GL000220.1, KI270715.1, GL000218.1, KI270749.1, KI270741.1, GL000221.1, 
KI270716.1, KI270731.1, KI270751.1, KI270750.1, KI270519.1, GL000214.1, KI270708.1, KI270730.1, KI270438.1, KI270737.1, 
KI270721.1, KI270738.1, KI270748.1, KI270435.1, GL000208.1, KI270538.1, KI270756.1, KI270739.1, KI270757.1, KI270709.1, 
KI270746.1, KI270753.1, KI270589.1, KI270726.1, KI270735.1, KI270711.1, KI270745.1, KI270714.1, KI270732.1, KI270713.1, 
KI270754.1, KI270710.1, KI270717.1, KI270724.1, KI270720.1, KI270723.1, KI270718.1, KI270317.1, KI270740.1, KI270755.1, 
KI270707.1, KI270579.1, KI270752.1, KI270512.1, KI270322.1, GL000226.1, KI270311.1, KI270366.1, KI270511.1, KI270448.1, 
KI270521.1, KI270581.1, KI270582.1, KI270515.1, KI270588.1, KI270591.1, KI270522.1, KI270507.1, KI270590.1, KI270584.1, 
KI270320.1, KI270382.1, KI270468.1, KI270467.1, KI270362.1, KI270517.1, KI270593.1, KI270528.1, KI270587.1, KI270364.1, 
KI270371.1, KI270333.1, KI270374.1, KI270411.1, KI270414.1, KI270510.1, KI270390.1, KI270375.1, KI270420.1, KI270509.1, 
KI270315.1, KI270302.1, KI270518.1, KI270530.1, KI270304.1, KI270418.1, KI270424.1, KI270417.1, KI270508.1, KI270303.1, 
KI270381.1, KI270529.1, KI270425.1, KI270396.1, KI270363.1, KI270386.1, KI270465.1, KI270383.1, KI270384.1, KI270330.1, 
KI270372.1, KI270548.1, KI270580.1, KI270387.1, KI270391.1, KI270305.1, KI270373.1, KI270422.1, KI270316.1, KI270340.1, 
KI270338.1, KI270583.1, KI270334.1, KI270429.1, KI270393.1, KI270516.1, KI270389.1, KI270466.1, KI270388.1, KI270544.1, 
KI270310.1, KI270412.1, KI270395.1, KI270376.1, KI270337.1, KI270335.1, KI270378.1, KI270379.1, KI270329.1, KI270419.1, 
KI270336.1, KI270312.1, KI270539.1, KI270385.1, KI270423.1, KI270392.1, KI270394.1]